<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
        <add key="LogPath" value="D:\QQBot"/>

        <add key="MaiMaiDx.ResourcePath" value="C:\Users\sofee\RiderProjects\QQBOT\QQBOT.Plugin.Shared\Resource\MaiMaiDx"/>
        <add key="MaiMaiDx.TempPath" value="D:\QQBOT\MaiMaiDx"/>
        <add key="MaiMaiDx.WaveFilePath" value="C:\Users\sofee\Desktop\maifinale"/>

        <add key="Dirty.ResourcePath" value="C:\Users\sofee\RiderProjects\QQBOT\QQBOT.Plugin.Shared\Resource\Dirty"/>

        <add key="Arcaea.ResourcePath" value="C:\Users\sofee\RiderProjects\QQBOT\QQBOT.Plugin.Shared\Resource\Arcaea"/>
        <add key="Arcaea.TempPath" value="D:\QQBOT\Arcaea"/>

        <add key="Help" value="C:\Users\sofee\RiderProjects\QQBOT\QQBOT.Plugin.Shared\Resource\Help"/>

        <add key="PicDbPath" value="C:\Users\sofee\Desktop\pic"/>
        <add key="PicDbPath_KanKan" value="C:\Users\sofee\Desktop\pic\看看"/>

        <add key="FFMPEG.Path" value="C:\bin\ffmpeg.exe"/>
    </appSettings>
</configuration>  