.config {
    --note-height: 8px;
    --note-gap: 1px;

    --air-height: 15px;
    --air-hold-width: 7px;

    --hld-body-z-index: 2;
    --hld-t-z-index: 3;
    --sld-z-index: 4;
    --sld-t-z-index: 5;
    --tap-z-index: 40;
    --air-sld-z-index: 50;
    --air-z-index: 70;
    --ahd-z-index: 80;
}


